{% extends "base.html" %}

{% block content %}

    <a href="{% url 'create_contact' %}">Send message</a>

<style>
    table td, table th{
        padding: 0.5rem 0.75rem;
        border: black 1px solid;
        vertical-align: middle;
    }
</style>

<table>
  <tr>
    <td><b>Email</b></td>
    <td><b>Subject</b></td>
    <td><b>Message</b></td>
  </tr>
  {% for cont in contactus %}
  <tr>
    <td>{{ cont.email_from }}</td>
    <td>{{ cont.subject }}</td>
    <td>{{ cont.message }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}