{% extends "base.html" %}

{% block content %}
<style>
    table td, table th{
        padding: 0.5rem 0.75rem;
        border: black 1px solid;
        vertical-align: middle;
    }
</style>

<table class="table table-striped">
  <tr>
    <td><b>ID</b></td>
    <td><b>SALE</b></td>
    <td><b>BUE</b></td>
    <td><b>TYPES</b></td>
    <td><b>SOURCE</b></td>
  </tr>
  {% for rat in rate %}
  <tr>
    <td>{{ rat.id }}</td>
    <td>{{ rat.sale }}</td>
    <td>{{ rat.buy }}</td>
    <td>{{ rat.types }}</td>
    <td>{{ rat.source }}</td>

    <a href="{% url 'rate_update' rat.id %}">Update</a>
    <a href="{% url 'rate_delete' rat.id %}">Delete</a>
  </tr>
  {% endfor %}
</table>

{% endblock %}