{% extends "base.html" %}

{% block content %}

<a href="{% url 'create_source' %}">Create Source</a>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Source_url</b></td>
    </tr>
    {% for source in source_list %}
    <tr>
        <td>{{ source.name }}</td>
        <td>{{ source.source_url }} 
            <a href="{% url 'update_source' source.id %}">Update</a>
            <a href="{% url 'delete_source' source.id %}">Delete</a>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}