{% extends "base.html" %}

{% block content %}

<a href="{% url 'create_source' %}" class="btn btn-info">Create Source</a>
<table class="table table-striped">
    <tr>
        <td><b>Name</b></td>
        <td><b>Source_url</b></td>
    </tr>
    {% for sour in sources %}
    <tr>
        <td>{{ sour.name }}</td>
        <td>{{ sour.source_url }}
            <a href="{% url 'update_source' sour.id %}">Update</a>
            <a href="{% url 'delete_source' sour.id %}">Delete</a>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}